@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss";

@theme inline {
  --font-montserrat: var(--font-montserrat);
}

* {
  font-family: var(--font-montserrat);
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-track {
  background: #262a33;
}

::-webkit-scrollbar-thumb {
  background: #5068c8;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3776d4;
}

.gridy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}


/* Désactive les flèches pour Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Désactive les flèches pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 400px) {
  .gridy {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }
}